body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

.Maplegend {
  padding: 6px 8px;
  background: white;
  line-height: 30px;
}
.Maplegend h3 {
  text-align: center;
}

.Maplegend i {
  width: 18px;
  height: 18px;
  margin-left: 8px;
  opacity: 0.55;
  float: left;
}
